services:
  postgres:
    image: postgres:15-alpine
    container_name: stockquest-db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: stockquest-cache
    ports:
      - "6379:6379"

volumes:
  postgres_data: